:root {
  --primary-color: crimson;
  --secondary-color: orange;
  --tertiary-color: aqua;
  --highlight-color: yellow;
  --hover-color: yellowgreen;
  --space: 20px;
  --type-xl: 50px;
  --type-md: 30px;
  --type-sm: 20px;
  background-color: rgb(2, 2, 2);
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  margin: var(--space);
}
header > h1 {
  color: var(--primary-color);
  text-align: center;
  padding: var(--space);
}
main {
  display: flex;
  flex-wrap: wrap;
  margin: var(--space);
}
main > img {
  width: 60%;
  max-width: 500px;
  min-width: 240px;
  padding: var(--space);
}
li {
  list-style-type: none;
  padding: var(--space);
}
main > section > ul > li > a {
  color: var(--secondary-color);
  justify-content: end;
}
a {
  color: var(--hover-color);
  transition: 0.5;
}
h2,
h3,
h4,
h5,
h6 {
  color: var(--tertiary-color);
}
