* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: crimson;
  --secondary-color: orange;
  --highlight-color: yellow;
  --hover-color: yellowgreen;
  background-color: rgb(2, 2, 2);
  color: white;
}
