:root {
  --primary-color: crimson;
  --secondary-color: orange;
  --highlight-color: yellow;
  --hover-color: yellowgreen;
  --space: 20px;
  --type-xl: 50px;
  --type-md: 30px;
  --type-sm: 20px;
  background-color: rgb(2, 2, 2);
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  flex-grow: row wrap;
  flex: 1 1;
  padding: var(--space);
  margin: var(--space);
  gap: var(--space);
  text-transform: uppercase;
}
h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
}
header > section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--space);
  margin: var(--space);
  gap: var(--space);
}
ul {
  display: flex;
  list-style-type: none;
  gap: var(--space);
}
main {
  display: flex;
  justify-content: center;
  padding: var(--space);
  gap: var(--space);
}
.top-btn {
  color: var(--primary-color);
  bottom: var(--space);
  right: var(--space);
}
